@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
  /* New palette color */
  --primary-blue: #0099ff;
  --secondary-blue: #88ccff;
  --thirt-blue: #0077cc;
  --main-white: #FFFFFF;
  --light-gray: #f0efef;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur1.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur1.png), auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

textarea {
  resize: none;
}

.absolute{
  position: absolute;
}
.justify-between{
  justify-content: space-between;
}
.font-bold-700{
  font-weight: 700;
}
.width-100{
  width: 100%;
}
.bg-primary-blue{
  color: white;
  background-color: var(--primary-blue);
}
.bg-secondary-blue {
  background-color: var(--secondary-blue);
}
.bg-thirt-blue {
  background-color: var(--thirt-blue);
}
.bg-white{
  background-color: var(--main-white);
}
.bg-light-gray{
  background-color: var(--light-gray);
}

.border-none{
  border: none;
}
.secondary-title-color{
  color: var(--secondary-blue);
}

.padding-container{
  padding: 10px;
}

.border-radius-10{
  border-radius: 10px;
}
.border-radius-15{
  border-radius: 15px;
}
.border-radius-20{
  border-radius: 20px;
}
.border-radius-30{
  border-radius: 30px;
}

@media (max-width: 770px) {
  .f-size-100 {
    font-size: 60px;
  }

  #sec-login {
    padding: 15px;
  }
}

/* Styles added for Uriel */
.wrap {
  flex-wrap: wrap;
}

#login-register {
  background-color: rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.user-box input:focus~label {
  top: -20px;
  left: 0;
  color: #FE481D;
  font-size: 12px;
}

.btn-register,
.input-sct {
  border-radius: 5px;
}

/* Estilos en los inpust de select */
.input-sct,
.txt-area {
  background-color: var(--tertiary-color);
  margin: 5px 0px 10px;
  border: none;

}

.Team-Img{
  width: 60%;
  margin: auto;
  border-radius: 20px;
}
@media (max-width: 700px) {
  .Team-Img{
    width: 320px;
  }
}

/* NAVBAR CSS */
.Navbar{
  background-color: var(--main-white);
  display: flex;
  justify-content: space-between;
}
/* .Itcoders-Icon{
  width: 70px;
} */
.Navbar-List{
  /* margin-right: 10px;
  color: white; */
  list-style: none;
  /* justify-content: space-around; */
}
.Navbar-List > a{
  display: flex;
  align-items: center;
}
.Navbar-List > a:visited{
  color: unset;
}
.Navbar-List > a > i{
  margin-right: 7px;
}

/* DeSCIPTION sECTIO css */
.Description-Section{
  width: 75%;
}

/* Our Project Section */


/* SPan Section */
.Span-Section{
  justify-content: space-between;
}


.icon-size{
  width: 40px;
  height: 40px;
}