@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0099FF;
  --secondary-color: #0077CC;
  --dark-gray-color: #A6A6A6;
  --light-gray-color: #F5F5F5;
  --thirt-color: #F2F168;

  /* New palette color */
  --secondary-blue: #88ccff;
  --thirt-blue: #0077cc;
}

* {
  font-family: "Montserrat", sans-serif;
  /* cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur1.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur1.png), auto !important; */
}

textarea {
  resize: none;
}

/* BACKGROUNDS */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-light-gray-color {
  background-color: var(--light-gray-color);
}

/* TEXT COLORS */
.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-dark-gray {
  color: var(--dark-gray-color);
}

.color-dark-gray-color {
  color: var(--dark-gray-color);
}


/* TEXT STYLES */
.f-weight-400 {
  font-weight: 400;
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-600 {
  font-weight: 600;
}

.f-weight-700 {
  font-weight: 700;
}

.f-weight-100 {
  font-weight: bold;
}


@media (max-width: 770px) {
  .f-size-100 {
    font-size: 60px;
  }

  #sec-login {
    padding: 15px;
  }
}

/* Styles added for Uriel */
.wrap {
  flex-wrap: wrap;
}

#login-register {
  background-color: rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.user-box input:focus~label {
  top: -20px;
  left: 0;
  color: #FE481D;
  font-size: 12px;
}

.btn-register,
.input-sct {
  border-radius: 5px;
}

/* Estilos en los inpust de select */
.input-sct,
.txt-area {
  background-color: var(--tertiary-color);
  margin: 5px 0px 10px;
  border: none;

}

.Team-Img {
  width: 60%;
  margin: auto;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .Team-Img {
    width: 320px;
  }
}

/* NAVBAR CSS
.Navbar {
  background-color: var(--thirt-blue);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100vw;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.Itcoders-Icon {
  width: 70px;
}

.Navbar-List {
  margin-right: 10px;
  color: white;
  list-style: none;
  justify-content: space-around;
}

.Navbar-List>a {
  color: white;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.Navbar-List>a:visited {
  color: unset;
}

.Navbar-List>a>i {
  margin-right: 7px;
} */

/* FORM CSS */
.login-box {
  margin: auto;
  width: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -10px;
  left: 0;
  color: #5599dd;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #5599dd;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #5599dd;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #5599dd,
    0 0 25px #5599dd,
    0 0 50px #5599dd,
    0 0 100px #5599dd;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #5599dd);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #5599dd);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #5599dd);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #5599dd);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}