@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
  --primary-color: '';
  --secondary-color: #0099ff;
  --tertiary-color: #202020;
  --quaternary-color: #F2F168;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

textarea {
  resize: none;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-quaternary {
  background-color: var(--quaternary-color);
}

@media (max-width: 770px) {
  .f-size-100 {
    font-size: 60px;
  }

  #sec-login {
    padding: 15px;
  }
}

/* Styles added for Uriel */
.wrap {
  flex-wrap: wrap;
}

#login-register {
  background-color: rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.user-box input:focus~label {
  top: -20px;
  left: 0;
  color: #FE481D;
  font-size: 12px;
}

.btn-register,
.input-sct {
  border-radius: 5px;
}

/* Estilos en los inpust de select */
.input-sct,
.txt-area {
  background-color: var(--tertiary-color);
  margin: 5px 0px 10px;
  border: none;

}