@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0099FF;
  --secondary-color: #0077CC;
  --dark-gray-color: #A6A6A6;
  --light-gray-color: #F5F5F5;
  --thirt-color: #F2F168;

  /* New palette color */
  --primary-blue: #0099ff;
  --secondary-blue: #88ccff;
  --thirt-blue: #0077cc;
  --main-white: #FFFFFF;
  --light-gray: #f0efef;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur1.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur1.png), auto !important; */
}

textarea {
  resize: none;
}

.absolute{
  position: absolute;
}
.justify-between{
  justify-content: space-between;
}

.width-100{
  width: 100%;
}

.bg-secondary-blue {
  background-color: var(--secondary-blue);
}

/* .bg-light-gray{
  background-color: var(--light-gray);
} */
.padding-container{
  padding: 10px;
}

.border-none{
  border: none;
}
/* BACKGROUNDS */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-thirt-blue {
  background-color: var(--thirt-blue);
}

.bg-light-gray-color {
  background-color: var(--light-gray-color);
}

/* BORDER RADIUS */
.border-radius-10{
  border-radius: 10px;
}
.border-radius-15{
  border-radius: 15px;
}
.border-radius-20{
  border-radius: 20px;
}
.border-radius-30{
  border-radius: 40px;
}
.border-white{
  border: solid 2px var(--main-white);
}

/* TEXT COLORS */
.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-dark-gray {
  color: var(--dark-gray-color);
}

.color-dark-gray-color {
  color: var(--dark-gray-color);
}


/* TEXT STYLES */
.f-weight-400 {
  font-weight: 400;
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-600 {
  font-weight: 600;
}

.f-weight-700 {
  font-weight: 700;
}

.f-weight-100 {
  font-weight: bold;
}


@media (max-width: 770px) {
  .f-size-100 {
    font-size: 60px;
  }

  #sec-login {
    padding: 15px;
  }
}

/* Styles added for Uriel */
.wrap {
  flex-wrap: wrap;
}

#login-register {
  background-color: rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.user-box input:focus~label {
  top: -20px;
  left: 0;
  color: #FE481D;
  font-size: 12px;
}

.btn-register,
.input-sct {
  border-radius: 5px;
}

/* Estilos en los inpust de select */
.input-sct,
.txt-area {
  background-color: var(--tertiary-color);
  margin: 5px 0px 10px;
  border: none;

}

.Team-Img {
  width: 60%;
  margin: auto;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .Team-Img {
    width: 320px;
  }
}

/* NAVBAR CSS */
.Navbar {
  background-color: var(--thirt-blue);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100vw;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.Itcoders-Icon {
  width: 70px;
}

.Navbar-List {
  margin-right: 10px;
  color: white;
  list-style: none;
  /* justify-content: space-around; */
}

.Navbar-List>a {
  color: white;
  display: flex;
  align-items: center;
}

.Navbar-List>a:visited {
  color: unset;
}

.Navbar-List>a>i {
  margin-right: 7px;
}

/* DeSCIPTION sECTIO css */
.Description-Section{
  width: 75%;
}

/* Our Project Section */


/* SPan Section */
.Span-Section{
  justify-content: space-between;
}


.icon-size{
  width: 40px;
  height: 40px;
}