@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
  --primary-color: '';
  --secondary-color: #0099ff
}

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

textarea {
  resize: none;
}

.bg-secondary {
  background-color: var(--secondary-color);
}

@media (max-width: 770px){
  .f-size-100 {
    font-size: 60px;
  }
  /* #sec-login{
    padding: 15px;
  } */
}
/* Styles added for Uriel */

#login-register{
  background-color: rgba(37, 37, 37, 0.3);
  border-radius: 10px;
}
.user-box{
  position: relative;
}
.user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label{
  top: -20px;
  left: 0;
  color: blueviolet;
  font-size: 12px;
}

.btn-register{
  border-radius: 5px;
  padding: 10px;
}